USE [master]
GO
/****** Object:  Database [EmployeeInfoDB]    Script Date: 6/22/2019 6:23:16 PM ******/
CREATE DATABASE [EmployeeInfoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeInfoDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeeInfoDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeeInfoDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeeInfoDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeInfoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeInfoDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/22/2019 6:23:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[salary] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([id], [name], [address], [email], [salary]) VALUES (6, N'Hridoy', N'Rampura', N'hridoy@gmail.com', N'20000')
INSERT [dbo].[Employee] ([id], [name], [address], [email], [salary]) VALUES (7, N'Robin', N'Rampura', N'robin@gmail.com', N'50000')
SET IDENTITY_INSERT [dbo].[Employee] OFF
USE [master]
GO
