<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBServer" value="SailorIT\SQLEXPRESS" />
    <add key="DB" value="EmployeeInfoDB" />
    <add key="User" value="sa"/>
    <add key="Data" value="TJFi0vShOOtkdqzOloNCqnWI7RyjWdEEesvtw8PEI7wMbNnin+a+0ji08M2anlWvF4eRgHtVCaPRBisa8TCObty/jOEiqJk+9kgh/CXSAfxOe+2eVvnu1LJRfXcJctqR" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>